QMenuBar QLabel
{
    padding-right: 1px;
}

#bucketsTable::item
{
    padding-left: 16px;
    padding-right: 2px;
    border: 0;   /* needed for padding to work with aligned text */
}

#percentileTable::item
{
    padding-left: 4px;
    padding-right: 4px;
}

QTableView>::section
{
    padding-left: 8px;
    padding-right: 8px;
    border: 0;
}

#dirTreeView::item,
#fsTree::item,
#LocateFileTypeWindow #treeWidget::item,
#LocateFilesWindow #treeWidget::item
{
    margin-left: 4px;
    margin-right: 4px;
/* can't specify a border because it makes the selected row invisible (Qt bug) */
}

#FileAgeStatsWindow #treeWidget::item,
#FileTypeStatsWindow #treeWidget::item
{
    padding: 1px;
}

#scrollAreaWidgetContents
{
    background: palette(base);
}
